* {
  font-family: "Roboto Slab", serif;
  background-color: #0a0029;
}

.App {
  color: #8f8f8f;
}

ol {
  padding-left: 4rem;
  font-size: 1.5rem;
}

li {
  margin: 1rem 0;
  padding-left: 1rem;
}

a {
  color: #c7b5ff;
}

h1 {
  color: #ff9355;
  padding-left: 1rem;
  font-size: 3rem;
}

h2 {
  color: #ffc6a5;
  padding-left: 1rem;
}
